<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.thesis.android">

    <!-- Store messages -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Send/receive messages -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Check if internet is available -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- GCM: http://developer.android.com/google/gcm/client.html#manifest -->
    <!-- Register and receive messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- GCM requires a Google account (if running below 4.0.4, and minSdk is 4.0) -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- Keep the processor from sleeping: user time is money to the company -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- To prevent other applications from receiving the messages -->
    <permission
        android:name="org.thesis.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="org.thesis.android.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:name=".CApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name=".ui.activity.InitialActivity"
            android:theme="@style/AppTheme.Transparent"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DataProvisionActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.ClearBackground"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NavigationDrawerActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="org.thesis.android.SYNC_DONE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MessageCompositionActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.NavigationDrawerActivity"/>
        </activity>

        <receiver
            android:name=".receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="org.thesis.android"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.GcmIntentService"/>
        <service android:name=".service.ManualSyncIntentService"/>
    </application>
</manifest>
